{% extends '@UmamiNation/base.html.twig' %}
{% block title %}{{ "umami-nation.home.title.overview"|trans }}{% endblock %}
{% block pageHeader %}{{ "umami-nation.home.header.news"|trans }}{% endblock %}
{% block pageHeaderSmall %}{% endblock %}
{% block content %}
    {% block container %}
        <div id="container" class="container">
        {% block pageHeaderContainer %}
        <h1>{{ 'umami-nation.home.message.welcome'|trans}}</h1>
        {% endblock %}
        </div>
    {% endblock %}
{% endblock %}