{% extends 'TwigBundle:Exception:error.html.twig' %}

{# Replace these variables through own exception controller #}
{% set causes = [
    "Requested Page does not exist",
    "The requested ID is not valid"
] %}

{% set solutions = [
    "Navigate to a valid page",
    "Check if the ID of the requested entity is valid"
] %}

{% block errorMessage %}
    Page not found
{% endblock %}

{% block causes %}
    {% for cause in causes %}
        <li>{{ cause }}</li>
    {% endfor %}
{% endblock %}

{% block solutions %}
    {% for solution in solutions %}
        <li>{{ solution }}</li>
    {% endfor %}
{% endblock %}