{% extends 'TwigBundle:Exception:error.html.twig' %}

{# Replace these variables through own exception controller #}
{% set causes = [
"Your permission for this page has not been configured",
] %}

{% set solutions = [
"Contact your administrator to grant access",
] %}

{% block errorMessage %}
    Insufficient Authorisation
{% endblock %}

{% block causes %}
    {% for cause in causes %}
        <li>{{ cause }}</li>
    {% endfor %}
{% endblock %}

{% block solutions %}
    {% for solution in solutions %}
        <li>{{ solution }}</li>
    {% endfor %}
{% endblock %}