{% extends 'TwigBundle:Exception:error.html.twig' %}

{# Replace these variables through own exception controller #}
{% set causes = [
    "Connection to the Center has been interrupted",
    "Invalid Request to the Center",
] %}

{% set solutions = [
    "Refresh the page",
    "Check if connection to center is established",
    "Check if the Requested Device, Location or Port is valid",
] %}

{% block errorMessage %}
    Server Error
{% endblock %}

{% block causes %}
        {% for cause in causes %}
            <li>{{ cause }}</li>
        {% endfor %}
{% endblock %}

{% block solutions %}
    {% for solution in solutions %}
        <li>{{ solution }}</li>
    {% endfor %}
{% endblock %}