
{% block error %}
    <div class="col-md-12">
        <div class="jumbotron" style="padding: 50px; border-radius: 10px">
            <a href="javascript:history.go(0)"
               class="btn btn-primary pull-right"><i
                        class="glyphicon glyphicon-refresh"></i></a>
            <h1 class="sub-header"><i
                        class="glyphicon glyphicon-wrench"></i> {% block errorMessage %}{{ status_code }} - {{ status_text }}{% endblock %}
            </h1>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Possible Causes:</h4>
                    <ul>
                        {% block causes %}{% endblock %}
                    </ul>
                    <hr class="divider">
                    <h4>Try:</h4>
                    <ul>
                        {% block solutions %}{% endblock %}
                    </ul>
                </div>
            </div>
            <h4>Trace</h4>
            <div class="panel-group" id="accordion" role="tablist"
                 aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="errorHeading">
                        <div class="panel-title">
                            <a role="button" data-toggle="collapse"
                               data-parent="#accordion"
                               href="#errorCollapse"
                               aria-expanded="true"
                               aria-controls="collapseOne">
                                {{ status_code }} - {{ status_text }}
                            </a>
                        </div>
                        <div id="errorCollapse"
                             class="panel-collapse collapse"
                             role="tabpanel" aria-labelledby="errorHeading">
                            <div class="panel-body">
                                {#{{ exception.message }}#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <a class="btn btn-default btn-lg"
                   href="{{ app.request.headers.get('referer') }}"
                   role="button">Back to previous page</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {% if (app.user and is_granted('ROLE_ADMIN')) %}
        {% block right_content %}
            {{ block('error') }}
        {% endblock %}
    {% else %}
        {{ block('error') }}
    {% endif %}

{% endblock %}


