{% extends '@UmamiNation/base.html.twig' %}
{% block title %}{{ "umami-nation.user.action.create"|trans|capitalize }}{% endblock %}

{% block standardSearch %}
    {{ form_start(updateUser, {'attr': {'class': 'ajaxForm'}, 'action': path('user_new')}) }}
    {{ form_end(updateUser) }}
{% endblock %}

