{% extends '@UmamiNation/base.html.twig' %}
{% form_theme edit_form "@UmamiNation/Form/bootstrap_3_horizontal_layout.html.twig" %}

{% block title %}{{ "umami-nation.user.title.edit"|trans }}{% endblock %}
{% block pageHeader %}{{ "umami-nation.user.header.edit"|trans }}{% endblock %}
{% block pageHeaderSmall %}{% endblock %}
{% block content %}
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit"
           value="{{ 'umami-nation.user.action.update' | trans }}"
           class="btn btn-primary pull-right"/>
    {{ form_end(edit_form) }}
    <div class="btn-toolbar pull-right" role="group" aria-label="...">
        <div class="btn-group">
            <a class="btn btn-default" href="{{ path('user_administration') }}">{{ 'umami-nation.user.action.back'|trans }}</a>
        </div>
        {% if (user.roles[0] == 'ROLE_SUPER_ADMIN' and is_granted('ROLE_SUPER_ADMIN'))
        or (user.roles[0] != 'ROLE_SUPER_ADMIN' and is_granted('ROLE_ADMIN')) %}
            <div class="btn-group">
                <form action="{{ path("user_delete", {"id": user.id}) }}"
                      method="post"
                      name="delete_user"
                      onsubmit="return confirm('{{ 'umami-nation.user.messages.warn.confirm_delete'|trans({'%userName%':
                          user.username}) }}')">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit"
                            name="submitDelete"
                            class="btn btn-danger">{{ 'umami-nation.user.action.delete' | trans }}
                    </button>
                </form>
            </div>
        {% endif %}
        <div class="btn-group">&nbsp;</div>
    </div>
{% endblock %}
{% block pagination %}{% endblock %}