{% extends '@UmamiNation/base.html.twig' %}
{% form_theme search_form "@UmamiNation/Form/bootstrap_3_horizontal_layout.html.twig" %}

{% block title %}{{ "umami-nation.user.title.overview"|trans }}{% endblock %}
{% block pageHeader %}{{ "umami-nation.user.header.user_list"|trans }}{% endblock %}
{% block pageHeaderSmall %}{% endblock %}
{% block content %}
    {{ form_start(search_form) }}
    {{ form_widget(search_form) }}
    <input type="submit"
           value="{{ 'umami-nation.user.action.search' | trans }}"
           class="btn btn-primary pull-right ml10"/>
    {% if (is_granted('ROLE_SUPER_ADMIN')) %}
        <a class="btn btn-default pull-right"
           href="{{ path('user_new') }}">{{ 'umami-nation.user.action.create'|trans }}</a>
    {% endif %}
    {{ form_end(search_form) }}
    <br/>
    <hr/>
    {% if pagination|length > 0 %}
        {% block pagination %}
            {{ knp_pagination_render(pagination) }}
        {% endblock %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-sm-2">
                    {{ "umami-nation.user.header.name"|trans }}
                </th>
                <th class="col-sm-2">
                    {{ "umami-nation.user.header.email"|trans }}
                </th>
                <th class="col-sm-1">
                    {{ "umami-nation.user.header.is_active"|trans }}
                </th>
                <th class="col-sm-2">
                    {{ "umami-nation.user.header.firstName"|trans }}
                </th>
                <th class="col-sm-2">
                    {{ "umami-nation.user.header.lastName"|trans }}
                </th>
                <th class="col-sm-1">
                    {{ "umami-nation.user.header.role"|trans }}
                </th>
                <th class="col-sm-2 text-right">
                    {{ "umami-nation.table.header.actions"|trans }}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination %}
                <tr {% if loop.index is odd %}class="bg-faded"{% endif %}>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td class="text-center">
                        {% if user.isActive == 1 %}
                            <i class="glyphicon glyphicon-check" title="{{ "umami-nation.user.state.active"|trans }}"></i>
                        {% else %}
                            <i class="glyphicon glyphicon-ban-circle" title="{{ "umami-nation.user.state.inactive"|trans }}"></i>
                        {% endif %}
                    </td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ ('umami-nation.security.roles.' ~ user.roles[0])|trans }}</td>
                    <td class="text-right">
                        <div class="btn-group" role="group" aria-label="...">
                            <a class="btn btn-default"
                               title="{{ "umami-nation.actions.show"|trans }}"
                               href="{{ path('user_show', { 'username': user.username }) }}">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                            {% if (user.roles[0] == 'ROLE_SUPER_ADMIN' and is_granted('ROLE_SUPER_ADMIN'))
                            or (user.roles[0] != 'ROLE_SUPER_ADMIN' and is_granted('ROLE_ADMIN')) %}
                                <a class="btn btn-default"
                                   title="{{ "umami-nation.actions.edit"|trans }}"
                                   href="{{ path('user_edit', { 'username': user.username }) }}">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                <form style="display: inline-block;" action="{{ path("user_delete", {"id": user.id}) }}"
                                      method="post"
                                      name="delete_user"
                                      onsubmit="return confirm('{{ 'umami-nation.user.messages.warn.confirm_delete'|trans
                                      ({'%userName%':
                                          user.username}) }}')">
                                    <input type="hidden" name="_method" value="delete">
                                    <button type="submit"
                                            name="submitDelete"
                                            class="btn btn-default"><i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elseif formSubmitted %}
        <div class="text-muted">
            <h4 class="text-muted text-center">
                {{ "umami-nation.user.messages.warn.no_data"|trans }}
            </h4>
        </div>
    {% endif %}
{% endblock %}
