{% extends '@UmamiNation/base.html.twig' %}

{% block title %}{{ "umami-nation.user.title.details"|trans }}{% endblock %}
{% block pageHeader %}{{ "umami-nation.user.header.details"|trans }}{% endblock %}
{% block pageHeaderSmall %}{% endblock %}
{% block content %}
    <div>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">{{ 'umami-nation.table.header.id'|trans }}</span>
                {{ user.id }}
            </li>
            <li class="list-group-item">
                <span class="badge">{{ 'umami-nation.user.header.name'|trans }}</span>
                {{ user.username }}
            </li>
            <li class="list-group-item">
                <span class="badge">{{ 'umami-nation.user.header.email'|trans }}</span>
                {{ user.email }}
            </li>
            <li class="list-group-item">
                <span class="badge">{{ 'umami-nation.user.header.firstName'|trans }}</span>
                {{ user.firstName }}
            </li>
            <li class="list-group-item">
                <span class="badge">{{ 'umami-nation.user.header.lastName'|trans }}</span>
                {{ user.lastName }}
            </li>
            <li class="list-group-item">
                <span class="badge">{{ 'umami-nation.user.header.is_active'|trans }}</span>
                {% if user.isActive == 1 %}
                    <i class="glyphicon glyphicon-check" title="{{ "umami-nation.user.state.active"|trans }}"></i>
                {% else %}
                    <i class="glyphicon glyphicon-ban-circle" title="{{ "umami-nation.user.state.inactive"|trans }}"></i>
                {% endif %}
            </li>
            <li class="list-group-item">
                <span class="badge">{{ 'umami-nation.user.header.role'|trans }}</span>
                {{ ('umami-nation.security.roles.' ~ user.roles[0])|trans }}
            </li>
        </ul>
    </div>
    <div class="btn-toolbar pull-right" role="group" aria-label="...">
        <div class="btn-group">
            <a class="btn btn-default" href="{{ path('user_administration') }}">{{ 'umami-nation.user.action.back'|trans }}</a>
        </div>
    {% if (user.roles[0] == 'ROLE_SUPER_ADMIN' and is_granted('ROLE_SUPER_ADMIN'))
    or (user.roles[0] != 'ROLE_SUPER_ADMIN' and is_granted('ROLE_ADMIN')) %}
        <div class="btn-group">
            <a class="btn btn-primary"
               href="{{ path('user_edit', {'username': user.username}) }}">
                {{ 'umami-nation.user.action.edit'|trans }}</a>
        </div>
        <div class="btn-group">
            <form action="{{ path("user_delete", {"id": user.id}) }}"
                  method="post"
                  name="delete_user"
                  onsubmit="return confirm('{{ 'umami-nation.user.messages.warn.confirm_delete'|trans({'%userName%': user.username}) }}')">
                <input type="hidden" name="_method" value="delete">
                <button type="submit"
                        name="submitDelete"
                        class="btn btn-danger">{{ 'umami-nation.user.action.delete'|trans }}
                </button>
            </form>
        </div>
    {% endif %}
    </div>
{% endblock %}
{% block pagination %}{% endblock %}