{% extends '@UmamiNation/base.html.twig' %}
{% block title %}{{ "umami-nation.kitchen.title.start"|trans }}{% endblock %}
{% block pageHeader %}{{ "umami-nation.kitchen.header.open_orders"|trans }}{% endblock %}
{% block pageHeaderSmall %}{% endblock %}
{% block content %}
    {% if pagination|length > 0 %}
        {% block pagination %}
            {{ knp_pagination_render(pagination) }}
        {% endblock %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-sm-2">{{ "umami-nation.order.header.product" | trans }}</th>
                <th class="col-sm-2 text-center">{{ "umami-nation.order.header.start_date"|trans }}</th>
                <th class="col-sm-2 text-center">{{ "umami-nation.order.header.start_time"|trans }}</th>
                <th class="col-sm-1 text-center">{{ "umami-nation.order.header.kitchen_start_time"|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in pagination %}
                <tr {% if loop.index is odd %}class="bg-faded"{% endif %}>
                    <td class="col-sm-2">{{ order.getProduct.name }}</td>
                    <td class="col-sm-2 text-center">
                        {% if order.getKitchenStart is null%}
                            {{ order.getOrderStart|date('Y-m-d') }}
                        {% else %}
                            {{ order.getKitchenStart|date('Y-m-d') }}
                        {% endif %}
                    </td>
                    <td class="col-sm-2 text-center">
                        {% if order.getKitchenStart is null%}
                            <strong>{{ order.getOrderStart|date('H:i:s') }}</strong>
                        {% else %}
                            <strong>{{ order.getKitchenStart|date('H:i:s') }}</strong>
                        {% endif %}
                    </td>
                    <td class="col-sm-1 text-center">
                        {% if order.getKitchenStart is null%}
                            <a href="{{ path('kitchen_start', {"id": order.id}) }}">
                                <button class="btn btn-info btn-lg">{{ "umami-nation.kitchen.action.do_product"|trans }}</button>
                            </a>
                        {% else %}
                            <a href="{{ path('kitchen_end', {"id": order.id}) }}">
                                <button class="btn btn-primary btn-lg">{{ "umami-nation.kitchen.action.end_product"|trans }}</button>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="container">{{ 'umami-nation.kitchen.messages.info.no_open_orders'|trans }}</div>
    {% endif %}
{% endblock %}