{% extends '@UmamiNation/base.html.twig' %}
{% block title %}{{ "umami-nation.kitchen.title.running"|trans }}{% endblock %}
{% block pageHeader %}{{ "umami-nation.kitchen.header.running_orders"|trans }}{% endblock %}
{% block pageHeaderSmall %}{% endblock %}
{% block content %}
    {% if pagination|length > 0 %}
        {% block pagination %}
            {{ knp_pagination_render(pagination) }}
        {% endblock %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-sm-2">{{ "umami-nation.order.header.product" | trans }}</th>
                <th class="col-sm-2 text-center">{{ "umami-nation.order.header.start_date"|trans }}</th>
                <th class="col-sm-2 text-center">{{ "umami-nation.order.header.kitchen_start_time"|trans }}</th>
                <th class="col-sm-1 text-center">{{ "umami-nation.order.header.kitchen_end_time"|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in pagination %}
                <tr {% if loop.index is odd %}class="bg-faded"{% endif %}>
                    <td class="col-sm-2">{{ order.getProduct.name }}</td>
                    <td class="col-sm-2 text-center">{{ order.getKitchenStart|date('Y-m-d') }}</td>
                    <td class="col-sm-2 text-center"><strong>{{ order.getKitchenStart|date('H:i:s') }}</strong></td>
                    <td class="col-sm-1 text-center">
                        <a href="{{ path('kitchen_end', {"id": order.id}) }}">
                            <button class="btn btn-primary">{{ "umami-nation.kitchen.action.end_product"|trans }}</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="container">{{ 'umami-nation.kitchen.messages.info.no_running_orders'|trans }}</div>
    {% endif %}
{% endblock %}