{% extends '@UmamiNation/base.html.twig' %}

{% block title %}{{ "umami-nation.order.title.overview"|trans }}{% endblock %}
{% block pageHeader %}{{ "umami-nation.order.header.orders"|trans }}{% endblock %}
{% block pageHeaderSmall %}{% endblock %}
{% block content %}
    <div class="row">
        {% for product in products %}
            <div class="col-xs-6 col-md-3">
                <a href="{{ path('order_add', {'id': product.id}) }}"
                   class="thumbnail">
                    <span class="thumbnailSpan btn btn-success">{{ product.name }}</span>
                </a>
            </div>
        {% endfor %}
    </div>
    {% if pagination|length > 0 %}
        <hr />
        {% block pagination %}
            {{ knp_pagination_render(pagination) }}
        {% endblock %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-sm-2">{{ "umami-nation.order.header.product" | trans }}</th>
                <th class="col-sm-2 text-center">{{ "umami-nation.order.header.start_time"|trans }}</th>
                <th class="col-sm-1 text-center">{{ "umami-nation.order.header.kitchen_end_time"|trans }}</th>
                <th class="col-sm-1 text-center">{{ "umami-nation.order.header.order_end_time"|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in pagination %}
                <tr {% if loop.index is odd %}class="bg-faded"{% endif %}>
                    <td class="col-sm-2">{{ order.getProduct.name }}</td>
                    <td class="col-sm-2 text-center">{{ order.getOrderStart|date('Y-m-d H:i:s') }}</td>
                    <td class="col-sm-2 text-center"><strong>{{ order.getKitchenEnd|date('Y-m-d H:i:s') }}</strong></td>
                    <td class="col-sm-1 text-center">
                        <a href="{{ path('order_end', {"id": order.id}) }}">
                            <button class="btn btn-primary btn-default">{{ "umami-nation.order.action.end_order"|trans }}</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <hr />
        <div class="container">{{ 'umami-nation.order.messages.info.no_finished_products'|trans }}</div>
    {% endif %}
{% endblock %}
