<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="mooneye.de">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block favicon %}{% endblock %}
    </head>
    <body>
    {% block navbar %}{% endblock %}
    {% block container %}{% endblock %}
    {% block javascripts_custom %}{% endblock %}
    </body>
</html>
