/**
 Required padding for .navbar-fixed-top.
 Remove if using .navbar-static-top.
 Change if height of navigation changes.
 */
body {
  padding-top: 70px;
}

.portfolio-item {
  margin-bottom: 25px;
  width: 25%;
  height: 100px;
  > a {
    width: 100%;
    height: 100%;
    > button {
      width: 100%;
      height: 100%;
    }
  }

  &:nth-child(even){
    > a {
      background: #23a;
    }
  }

  &:nth-child(odd) {
    > a {
      background: #49b;
    }
  }
}

.thumbnailSpan {
  height: 50px;
  width: 100%;
  display: block;
  line-height: 30px;
}

footer {
  margin: 50px 0;
}

.btn-logout {
  position: relative;
  float: right;
  height: 50px;
  padding: 5px;

  > div {
    > a {
      float: left;
      color: white;
      line-height: 34px;
      margin: 0 5px;
    }
  }
}

.ml10 {
  margin-left: 10px!important;
}
