// Base Fonts
@fontFamily: Verdana, Geneva, sans-serif;
//Base Colors
@brand-primary: rgb(174, 255, 0);
@brand-success: rgb(123, 204, 35);
@brand-info: rgb(90, 82, 255);
@brand-danger: rgb(255, 65, 54);
@brand-warning: rgb(240, 221, 54);

//
@font-size-base: 14px;
@link-color: darken(@brand-info, 60%);
@link-hover-color: @brand-info;

//Button and Panel Colors
@component-active-bg: rgba(0, 0, 0, 1);
@btn-primary-border: darken(@btn-primary-bg, 20%);
@btn-primary-color: @gray-base;
@btn-info-color: @gray-base;
@navbar-inverse-bg: @gray-base;
@panel-primary-text: @gray-base;

//Progress Bar Colors
@progress-bar-color: @gray-base;
@progress-bar-bg: @brand-primary;
@progress-bar-danger-bg: @brand-danger;
@progress-bar-warning-bg: @brand-primary;
@progress-bar-info-bg: rgb(219, 255, 0);
@progress-bar-success-bg: @brand-success;

//Sidebar colors
@sidebar-active-nav-color: fadeout(@brand-primary, 40%);
@sidebar-active-link-color: @gray-base;
@sidebar-hover-nav-color: @gray-base;
@sidebar-hover-link-color: @gray-lighter;