{% extends 'base.html.twig' %}

{% block title %}{{ "umami-nation.home.title.default"|trans }}!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/umamination/css/styles.css') }}"/>
{% endblock %}

{% block javascripts %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block favicon %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">{{ 'umami-nation.navigation.header.toggle'|trans }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">{{ 'umami-nation.navigation.header.home'|trans }}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('orders') }}">{{ 'umami-nation.navigation.menu.orders'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('kitchen') }}">{{ 'umami-nation.navigation.menu.kitchen'|trans }}</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('archive') }}">{{ 'umami-nation.navigation.menu.archive'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('products') }}">{{ 'umami-nation.navigation.menu.products'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('user_administration') }}">{{ 'umami-nation.navigation.menu.user'|trans }}</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="btn-logout">
                    <div style="display: inline-block">{{ render(controller('umami-nation.controller.translation:languageSelectorAction')) }}</div>
                    <div style="display: inline"><a name="logout" href="{{ path('logout') }}">{{ 'umami-nation.actions.logout'|trans }}</a></div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
{% block container %}
    <div class="container">
        {% block pageHeaderContainer %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% block pageHeader %}{% endblock %}
                        <small>{% block pageHeaderSmall %}{% endblock %}</small>
                    </h1>
                </div>
            </div>
        {% endblock %}
        {% block content %}
            {% block pagination %}{% endblock %}
        {% endblock %}
        {% block footer %}
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Mooneye 2017</p>
                    </div>
                </div>
            </footer>
        {% endblock %}
    </div>
{% endblock %}
{% block javascripts_custom %}
    <script src="{{ asset('bundles/umamination/js/vendors.js') }}"></script>
    <script src="{{ asset('bundles/umamination/js/main.js') }}"></script>
    <script>
        window.locale = '{{ app.request.locale }}';
        window.__glob_data = {
            translations: {
                locale: '{{ app.request.locale }}',
                translations: {{ render(controller('umami-nation.controller.translation:getTranslationsAction')) }}
            }
        };
    </script>
{% endblock %}
