<form class="language-form"
      name="language_change"
      action="{{ path('change_language')}}"
      method="post"
      style="margin-right: 20px; margin-top: 2px"
>
    <div class="dropdown">
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" id="language_selector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="language_selector">
            <li class="dropdown-header">{{ 'umami-nation.actions.change_language'|trans }}</li>
            {% block languageList %}
                {% for key,value in all_languages %}
                    {% if key != app.request.locale %}
                        <li><a name="lang" href="#" onclick="window.switchLanguage.checkChangedLanguage('{{ app.request.locale }}')" data-value="{{ key }}">{{ value }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endblock %}
        </ul>
    </div>
    <input type="hidden" name="lang" value="">
</form>