{% extends '@UmamiNation/base.html.twig' %}
{% form_theme search_form "@UmamiNation/Form/bootstrap_3_horizontal_layout.html.twig" %}

{% block title %}{{ "umami-nation.archive.title.overview"|trans }}{% endblock %}
{% block pageHeader %}{{ "umami-nation.archive.header.order_list"|trans }}{% endblock %}
{% block pageHeaderSmall %}{% endblock %}
{% block content %}
    {{ form_start(search_form) }}
    {{ form_widget(search_form) }}
    <input type="submit"
           value="{{ 'umami-nation.archive.action.search'|trans }}"
           class="btn btn-primary pull-right ml10"/>
    {{ form_end(search_form) }}
    <br />
    <hr />
    {% if pagination|length > 0 %}
        {% block pagination %}
            {{ knp_pagination_render(pagination) }}
        {% endblock %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-sm-1">{{ "umami-nation.table.header.id" | trans }}</th>
                <th class="col-sm-2">{{ "umami-nation.archive.header.product"|trans }}</th>
                <th class="col-sm-2">{{ "umami-nation.archive.header.order_start"|trans }}</th>
                <th class="col-sm-2">{{ "umami-nation.archive.header.kitchen_start"|trans }}</th>
                <th class="col-sm-2">{{ "umami-nation.archive.header.kitchen_end"|trans }}</th>
                <th class="col-sm-2">{{ "umami-nation.archive.header.order_end"|trans }}</th>
                <th class="col-sm-2">{{ "umami-nation.product.header.duration"|trans}}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in pagination %}
                {% set difference = date(order.orderEnd|date('Y-m-d H:i:s')).diff(date(order.orderStart|date('Y-m-d H:i:s'))) %}
                <tr {% if loop.index is odd %}class="bg-faded"{% endif %}>
                    <td>{{ order.id }}</td>
                    <td>{{ order.product.name }}</td>
                    <td>{{ order.orderStart|date('Y-m-d H:i:s') }}</td>
                    <td>{{ order.kitchenStart|date('Y-m-d H:i:s') }}</td>
                    <td>{{ order.kitchenEnd|date('Y-m-d H:i:s') }}</td>
                    <td>{{ order.orderEnd|date('Y-m-d H:i:s') }}</td>
                    <td>{{ difference|date('%H:%I:%S') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elseif formSubmitted %}
        <div class="text-muted">
            <h4 class="text-muted text-center">
                {{ "umami-nation.archive.messages.warn.no_data"|trans }}
            </h4>
        </div>
    {% endif %}
{% endblock %}