{% extends '@UmamiNation/base.html.twig' %}
{% form_theme edit_form "@UmamiNation/Form/bootstrap_3_horizontal_layout.html.twig" %}
{% block title %}{{ "umami-nation.product.title.edit"|trans }}{% endblock %}
{% block pageHeader %}{{ "umami-nation.product.header.edit"|trans }}{% endblock %}
{% block pageHeaderSmall %}{% endblock %}
{% block content %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit"
           value="{{ 'umami-nation.product.action.update' | trans }}"
           class="btn btn-primary pull-right"/>
    {{ form_end(edit_form) }}
    <div class="btn-toolbar pull-right" role="group" aria-label="...">
        <div class="btn-group">
            <a class="btn btn-default" href="{{ path('products') }}">
                {{ 'umami-nation.product.action.back'|trans }}
            </a>
        </div>
        <div class="btn-group">
            <form action="{{ path("product_delete", {"id": product.id}) }}"
                  method="post"
                  name="delete_product"
                  onsubmit="return confirm('{{ 'umami-nation.product.messages.warn.confirm_delete'|trans({'%productName%':
                      product.name}) }}')">
                <input type="hidden" name="_method" value="delete">
                <button type="submit"
                        name="submitDelete"
                        class="btn btn-danger">{{ 'umami-nation.product.action.delete'|trans }}
                </button>
            </form>
        </div>
        <div class="btn-group">&nbsp;</div>
    </div>
{% endblock %}
