{% extends '@UmamiNation/base.html.twig' %}
{% form_theme search_form "@UmamiNation/Form/bootstrap_3_horizontal_layout.html.twig" %}

{% block title %}{{ "umami-nation.product.title.overview"|trans }}{% endblock %}
{% block pageHeader %}{{ "umami-nation.product.header.product_list"|trans }}{% endblock %}
{% block pageHeaderSmall %}{% endblock %}
{% block content %}
    {{ form_start(search_form) }}
    {{ form_widget(search_form) }}
    <input type="submit"
           value="{{ 'umami-nation.product.action.search'|trans }}"
           class="btn btn-primary pull-right ml10"/>
    <a class="btn btn-default pull-right"
       href="{{ path('product_new') }}">{{ 'umami-nation.product.action.create'|trans }}</a>
    {{ form_end(search_form) }}
    <br />
    <hr />
    {% if pagination|length > 0 %}
        {% block pagination %}
            {{ knp_pagination_render(pagination) }}
        {% endblock %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-sm-2">{{ "umami-nation.table.header.id" | trans }}</th>
                <th class="col-sm-2">{{ "umami-nation.product.header.name"|trans }}</th>
                <th class="col-sm-2">{{ "umami-nation.product.header.price"|trans }}</th>
                <th class="col-sm-2">{{ "umami-nation.product.header.recipe"|trans }}</th>
                <th class="col-sm-2">{{ "umami-nation.product.header.duration"|trans }}</th>
                <th class="col-sm-2 text-right">{{ "umami-nation.table.header.actions"|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for product in pagination %}
                <tr {% if loop.index is odd %}class="bg-faded"{% endif %}>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.recipe }}</td>
                    <td>{{ product.duration }}</td>
                    <td class="text-right">
                        <div class="btn-group" role="group" aria-label="...">
                            <a class="btn btn-default"
                               href="{{ path('product_show', { 'id': product.id }) }}"
                               title="{{ "umami-nation.actions.show"|trans }}">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                            <a class="btn btn-default"
                               href="{{ path('product_edit', { 'id': product.id }) }}"
                               title="{{ "umami-nation.actions.edit"|trans }}">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <form style="display: inline-block;"
                                  action="{{ path("product_delete", {"id": product.id}) }}"
                                  method="post"
                                  name="delete_product"
                                  onsubmit="return confirm('{{ 'umami-nation.product.messages.warn.confirm_delete'|trans({'%productName%':
                                      product.name}) }}')">
                                <input type="hidden" name="_method" value="delete">
                                <button type="submit"
                                        name="submitDelete"
                                        class="btn btn-default"><i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elseif formSubmitted %}
        <div class="text-muted">
            <h4 class="text-muted text-center">
                {{ "umami-nation.product.messages.warn.no_data"|trans }}
            </h4>
        </div>
    {% endif %}
{% endblock %}