{% extends '@UmamiNation/base.html.twig' %}
{% form_theme create_form "@UmamiNation/Form/bootstrap_3_horizontal_layout.html.twig" %}
{% block title %}{{ "umami-nation.product.title.new"|trans }}{% endblock %}
{% block pageHeader %}{{ "umami-nation.product.header.product_create"|trans }}{% endblock %}
{% block pageHeaderSmall %}{% endblock %}
{% block content %}

    {% if duplicateKey is defined and duplicateKey == true %}
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> {{ 'umami-nation.product.messages.error.duplicate_key'|trans }}
        </div>
    {% endif %}

    {{ form_start(create_form) }}
    {{ form_widget(create_form) }}
    <input type="submit"
           value="{{ 'umami-nation.product.action.create' | trans }}"
           class="btn btn-primary pull-right"/>
    {{ form_end(create_form) }}
    <span class="pull-right">&nbsp;</span>
    <a class="btn-default btn pull-right" href="{{ path('products') }}">{{ 'umami-nation.product.action.back' | trans }}</a>
{% endblock %}
