{% extends '@UmamiNation/base.html.twig' %}

{% block title %}{{ "umami-nation.product.title.details"|trans }}{% endblock %}
{% block pageHeader %}{{ "umami-nation.product.header.details"|trans }}{% endblock %}
{% block pageHeaderSmall %}{% endblock %}
{% block content %}
    <div>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">{{ 'umami-nation.table.header.id'|trans }}</span>
                {{ product.id }}
            </li>
            <li class="list-group-item">
                <span class="badge">{{ 'umami-nation.product.header.name'|trans }}</span>
                {{ product.name }}
            </li>
            <li class="list-group-item">
                <span class="badge">{{ 'umami-nation.product.header.price'|trans }}</span>
                {{ product.price }}
            </li>
            <li class="list-group-item">
                <span class="badge">{{ 'umami-nation.product.header.recipe'|trans }}</span>
                {{ product.recipe }}
            </li>
            <li class="list-group-item">
                <span class="badge">{{ 'umami-nation.product.header.duration'|trans }}</span>
                {{ product.duration }}
            </li>
        </ul>
    </div>
    <div class="btn-toolbar pull-right" role="group" aria-label="...">
        <div class="btn-group">
            <a class="btn btn-default" href="{{ path('products') }}">
                {{ 'umami-nation.product.action.back'|trans }}
            </a>
        </div>
        <div class="btn-group">
            <a class="btn btn-primary"
               href="{{ path('product_edit', { 'id': product.id }) }}">{{ 'umami-nation.product.action.edit'|trans }}</a>
        </div>
        <div class="btn-group">
            <form action="{{ path("product_delete", {"id": product.id}) }}"
                  method="post"
                  name="delete_product"
                  onsubmit="return confirm('{{ 'umami-nation.product.messages.warn.confirm_delete'|trans({'%productName%':
                      product.name}) }}')">
                <input type="hidden" name="_method" value="delete">
                <button type="submit"
                        name="submitDelete"
                        class="btn btn-danger">{{ 'umami-nation.product.action.delete'|trans }}
                </button>
            </form>
        </div>
    </div>
{% endblock %}
{% block pagination %}{% endblock %}