{% extends '@UmamiNation/base.html.twig' %}

{% block title %}{{ "umami-nation.title.login"|trans }}{% endblock %}

{% block navbar %}{% endblock %}
{% block container %}
    <div class="col-md-3">
        <h1>{{ 'umami-nation.login.title'|trans }}</h1>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form name="loginForm" action="{{ path('login_check') }}" method="post">
            <div class="form-group">
                <label for="username">{{ 'umami-nation.login.username'|trans }}</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"
                       placeholder="Username"/>
            </div>
            <div class="form-group">
                <label for="password">{{ 'umami-nation.login.password'|trans }}</label>
                <input type="password" class="form-control" id="password" name="_password" placeholder="Password"/>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <input type="hidden" name="_target_path" value="{{ path('homepage') }}" />
            <button type="submit" class="btn btn-default">{{ 'umami-nation.login.button'|trans }}</button>
        </form>
    </div>
{% endblock %}